body{
    margin: 0px;
    padding: 0px;
}
.row1{
    width: 100%;
    height: 750px;
    background-image: url(images/banner-bg.png);
}
.row1-1{
    width: 100%;
    height: 50px;
}
.row1-1col1{
    width: 50%;
    height: 100%;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transform: translate(200px, 15px);
    font-family: verdana;
    float: left;
}
.row1-1col2{
    width: 50%;
    height: 100%;
    font-size: 20px;
    color: white;
    transform: translatex(400px);
    position: absolute;
    margin-left: 300px;
}
li{
    list-style: none;


}
a{
    color: white;
    text-align: center;
    text-decoration: none;
}
.row1-1col2-1{
    width: 80px;
    height: 50px;
    float: left;
}
.row1-1col2-2{
    width: 100px;
    height: 50px;
    float: left;
}
.row1-1col2-3{
    width: 100px;
    height: 50px;
    float: left;
}
.row1-1col2-4{
    width: 80px;
    height: 50px;
    float: left;
}
.row1-1col2-5{
    width: 165px;
    height: 50px;
    float: left;
}
.row1-1col2-6{
    width: 80px;
    height: 50px;
    float: right;
    position: relative;
    right: -50px;
}
/* ///////////////////////////////// */
.row1-2{
    width: 100%;
    height: 500px;
}
.row1-2-col1{
    width: 500px;
    height: 400px;
    color: white;
    margin-left: 250px;
    margin-top: 100px;
    position: relative;
}
.banner_taital{
    font-size: 60px;
    display: block;
    margin: 0px;
    float: left;
}
.font_size_90{
    font-size: 80px;
    padding-top: 10px;
    margin: 0px;
}
.banr{
    width: 100%;
    height: 100px;
    padding-top: 100px;
}
.banner_taital2{
    width: 100%;
    height: 100px;
}
#butan{
    width: 170px;
    height: 50px;
    background-color: rgba(255, 255, 7, 0.815);
    font-size: 15px;
    border-radius: 40px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    display: block;
    margin-top: 30px;
}
.row1-2-col2{
    width: 550px;
    height: 400px;
    position: absolute;
    top: 150px;
    right: 190px;
}
.row3{
    width: 100%;
    height: 100px;
    /* background-color: blue; */
    margin-top: -100px;
}
.row3-col1{
    width: 50px;
    height: 37px;
    color: white;
    text-align: center;
    margin-left: 370px;
    margin-top: 30px;
    padding-top: 13px;
    font-size: 19px;
    background-color: rgb(54, 53, 53);
    box-shadow: 10px 0px 9px 3px rgb(18, 17, 17);
    border-radius: 2px;
    float: left;
    position: relative;
}
.row3-col2{
    width: 550px;
    height: 37px;
    margin-top: 30px;
    padding-top: 13px;
    padding-left: 13px;
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 0px 9px 3px white;
    float: left;
    position: relative;
}
.row3-col3{
    width: 150px;
    height: 37px;
    color: white;
    text-align: center;
    margin-top: 30px;
    padding-top: 13px;
    font-size: 19px;
    background-color: rgba(7, 247, 255, 0.815);
    border-radius: 2px;
    float: left;
    position: relative;
}
.row2-2{
    width: 100%;
    height: 140px;
    margin-top: -50px;
    /* background-color: aquamarine; */
    /* position: relative; */
}
.row2-2-col1{
    height: 130px;
    width: 1100px;
    border: 2px solid black;
    margin: 100px 0px 0px 180px;
    border-radius: 100px;
    /* position: absolute; */
}
.table1{
    width: 100%;
    height: 100%;
    margin-top: -10px;
    margin-right: -100px;
    text-align: center;
}
.cat{
    font-size: 28px;
}
h2{
    margin-top: 10px;
    margin-bottom: 50px;
}
.bed{
    margin-bottom: 0px;
}
.row4{
    width: 100%;
    height: 510px;
    padding-top: 80px;
    text-align: center;
    /* background-color: red; */
    /* margin-top: 400px; */

}
.row4-col1{
    width: 350px;
    height: 450px;
    margin-left: 200px;
    float: left;
}
.row4-col2{
    width: 350px;
    height: 450px;
    margin-left: 40px;
    float: left;
    /* background-color: red; */
}
.row4-col3{
    width: 350px;
    height: 450px;
    margin-left: 40px;
    float: left;
    /* background-color: red; */
}
.row4-col1 a{
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-top: 50px;
    color: black;
    display: block;
    text-align: center;
}
.row4-col2 a{
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-top: 50px;
    color: black;
    display: block;
    text-align: center;
}
.row4-col3 a{
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-top: 50px;
    display: block;
    color: black;
    text-align: center;
}
.row4-col1,.row4-col2,.row4-col3{
    box-shadow: 0px 0px 20px 6px gray;
}
/* hover//////////////////////////////////////////////////////// */
/* .row4-col3:hover a{
    box-shadow: 0px 0px 20px 6px red;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
} */
.row5{
    width: 100%;
    height: 530px;
    padding-top: 70px;
    text-align: center;
    background-color: rgba(230, 228, 228, 0.909);
}
.row5-col1{
    width: 350px;
    height: 450px;
    margin-left: 200px;
    background-color: white;
    float: left;
}
.row5-col1 a{
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-top: 50px;
    color: black;
    display: block;
    text-align: center;
}
.row5-col2{
    width: 740px;
    height: 450px;
    margin-left: 40px;
    background-color: white;
    float: left;
}
.row5-col2 a{
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-top: 50px;
    color: black;
    display: block;
    text-align: center;
}
.row5-col1,.row5-col2,.row6-col1,.row6-col3,.row6-col2 {
    box-shadow: 0px 0px 20px 6px gray;
}
.row6{
    width: 100%;
    height: 950px;
    text-align: center;
    padding-top: 50px;
}
.row6 h1{
    font-size: 40px;
}
.row6-child{
    width: 100%;
    height: 700px;
    padding-top: 80px;
}
.row6-col1{
    width: 450px;
    height: 320px;
    font-size: 26px;
    /* background-color: red; */
    float: left;
    margin-left: 200px;
    position: relative;
}
.row6-col2{
    width: 630px;
    height: 590px;
    /* background-color: red; */
    margin-left: 30px;
    font-size: 24px;
    float: left;
}
.row6-col3{
    width: 450px;
    height: 320px;
    /* background-color: red; */
    margin-left: 200px;
    margin-top: 340px;
    font-size: 26px;
    float: left;
    position: absolute;
}
.row6-col2 a{
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-top: 80px;
    color: black;
    display: block;
    text-align: center;
}
.row7{
    width: 100%;
    height: 625px;
    text-align: center;
}
.row7-row1{
    width: 100%;
    height: 410px;
    padding-top: 50px;
    position: relative;
}
.row7-col1{
    width: 210px;
    height: 410px;
    background-color: #6610f2;
    margin-left: 160px;
    
}
.row7-col2{
    width: 1000px;
    height: 270px;
    padding-top: 30px;
    padding-left: 30px;
    background-color: white;
    box-shadow: 5px -9px 14px -5px gray;
    text-align: left;
    left: 300px;
    top: 90px;
    float: left;
    position: absolute;
}
.row7-col2 h2{
    margin: 0px;
}
.row7-col2 p{
    margin-bottom: 40px;
}
.icon1,.icon2{
    width: 70px;
    height: 45px;
    padding-top: 25px;
    background-color: #6610f2;
    border-radius: 100px;
    text-align: center;
    float: left;
    position: absolute;
    right: 100px;
}
.icon2{
    position: absolute;
    right: -20px;
    background-color: black;
}
.icon2:hover{
    background-color: #6610f2;
}
.row8{
    width: 100%;
    height: 440px;
    background: url(images/Untitled-32.png) no-repeat;
    text-align: center;
    color: white;
}
.row8-p1{
    padding-top: 90px;
    font-size: 20px;
}
.row8-p2{
    font-size: 50px;
    margin-bottom: 35px;
    margin-top: -10px;
}
.row8-1{
    width: 50%;
    height: 53px;
    /* background-color: aqua; */
    margin: auto;
    text-align: left;
    margin-top: 50px;
    border-bottom: 2px solid white;
}
#email{
    width: 569px;
    height: 45px;
    background: none;
    border: none;
    font-size: 18px;
    /* padding-left: 50px; */
}
#sub{
    width: 180PX;
    height: 45PX;
    background-color: white;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    color: rgba(18, 17, 17, 0.733);
}
#sub:hover{
    background-color: aqua;
    color: white;
}
.row9{
    width: 100%;
    height: 380px;
    background-color: #252525;
    padding-top: 70px;
}
.row9-row1{
    width: 75%;
    height: 270px;
    margin: auto;
    color: rgba(138, 138, 138, 0.927);
}
.row9-row1 h1{
    color: white;
}
.r9-r1-col1{
    width: 350px;
    height: 100%;
    float: left;
}
.r9-r1-col2{
    width: 200px;
    height: 100%;
    float: left;
    margin-left: 200px;
}
.r9-r1-col3{
    width: 200px;
    height: 100%;
    float: left;
    margin-left: 100px;
}
.row9-img{
    width: 100%;
    height: 40px;

}
.row9-img1,.row9-img2,.row9-img3,.row9-img4{
    width: 40px;
    height: 40px;
    float: left;
}
.foot{
    width: 39%;
    height: 10px;
    margin: auto;
    margin-top: 30px;
    padding-top: 25px;
    text-align: center;
    color: white;
    border-top: 1px solid white;
}